<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <title></title>
  </head>
  <body>
    <h5> Edit {{ name }} </h5>

    <form class="edit-pokemon-form">
      <label>Name:</label>
      <input class="poke-name-input" value={{ name }} />
      <br />

      <label>Description:</label>
      <textarea class="poke-description-input">
        {{ description }}
      </textarea>
      <br />

      <label>Image:</label>
      <input class="poke-image-input" value={{ image }} />
      <br />

      <label>Type:</label>
      <input class="poke-type-input" value={{ type }} />
      <br />

      <input type="hidden" class="poke-id-input" value={{ id }} />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
