<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <title></title>
  </head>
  <body>
    <h5> Create a new pokemon </h5>

    <form class="new-pokemon-form">
      <label>Name:</label>
      <input class="poke-name-input" />
      <br />

      <label>Description:</label>
      <textarea class="poke-description-input"></textarea>
      <br />

      <label>Image:</label>
      <input class="poke-image-input" />
      <br />

      <label>Type:</label>
      <input class="poke-type-input" />
      <br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
