<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <title></title>
  </head>
  <body>
    <a href="/pokemon/">Back to all Pokemon</a>
    <hr />

    <h5>{{ name }} - {{ type }} Type Pokemon</h5>
    <img src={{ image }} />

    <p>{{ description }}</p>
    <hr />

    <a href="/pokemon/{{ id }}/edit">Edit this Pokemon</a>
    <button class="delete-pokemon" data-id={{ id }}>DELETE THIS POKEMON? ARE YOU SURE?</button>
  </body>
</html>
